<html><body><pre>
<span style="color: #E2661A;">color</span> colour(<span style="color: #E2661A;">String</span> c)
{
&nbsp;&nbsp;<span style="color: #E2661A;">int</span> r = <span style="color: #006699;">unhex</span>(c.<span style="color: #006699;">substring</span>(1,3));
&nbsp;&nbsp;<span style="color: #E2661A;">int</span> g = <span style="color: #006699;">unhex</span>(c.<span style="color: #006699;">substring</span>(3,5));
&nbsp;&nbsp;<span style="color: #E2661A;">int</span> b = <span style="color: #006699;">unhex</span>(c.<span style="color: #006699;">substring</span>(5,7));
&nbsp;&nbsp;<span style="color: #33997E;">return</span> <span style="color: #006699;">color</span>(r,g,b);
}
</pre></body></html>
