<html><body><pre>
<span style="color: #33997E;">void</span> <span style="color: #006699;"><b>setup</b></span>()
{&nbsp;
&nbsp;&nbsp;<span style="color: #006699;">size</span>( 120,150);
}&nbsp;
<span style="color: #33997E;">void</span> <span style="color: #006699;"><b>draw</b></span>()
{
&nbsp;&nbsp;house();
}
<span style="color: #33997E;">void</span> house()
{&nbsp;
&nbsp;&nbsp;<span style="color: #006699;">triangle</span>( 30,40, 90, 40 , 60, 25);
&nbsp;&nbsp;<span style="color: #006699;">rect</span>( 30,40, 60 , 50 ) ;
}&nbsp;
</pre></body></html>
