<html><body><pre>
<span style="color: #666666;">/*&nbsp;@pjs&nbsp;preload=&quot;assets/Processing_Logo.png&quot;;&nbsp;*/</span>
<span style="color: #E2661A;">PImage</span> I = <span style="color: #006699;">loadImage</span>(<span style="color: #7D4793;">&quot;assets/Processing_Logo.png&quot;</span>);
<span style="color: #006699;">translate</span>(25,25);
<span style="color: #006699;">rotate</span>(<span style="color: #006699;">radians</span>(45));
<span style="color: #006699;">image</span>(I,0,0);

</pre></body></html>
