<html><body><pre>
<span style="color: #33997E;">void</span> <span style="color: #006699;"><b>setup</b></span>()
{&nbsp;
&nbsp;&nbsp;<span style="color: #006699;">size</span>( 720,150);
}&nbsp;

<span style="color: #33997E;">void</span> <span style="color: #006699;"><b>draw</b></span>()
{
&nbsp;&nbsp;<span style="color: #006699;">translate</span>(10,20);
&nbsp;&nbsp;<span style="color: #669900;">for</span>(<span style="color: #E2661A;">int</span> n=1; n&lt;=9 ; n++) {
&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #006699;">translate</span>(70,0);
&nbsp;&nbsp;&nbsp;&nbsp;house(n);
&nbsp;&nbsp;}
}

<span style="color: #33997E;">void</span> house(<span style="color: #E2661A;">int</span> n)
{&nbsp;
&nbsp;&nbsp;<span style="color: #006699;">fill</span>(255);
&nbsp;&nbsp;<span style="color: #006699;">triangle</span>( 0,0, 60, 0 , 30, -15);
&nbsp;&nbsp;<span style="color: #006699;">rect</span>( 0,0, 60 , 50 ) ;
&nbsp;&nbsp;<span style="color: #006699;">fill</span>(0);
&nbsp;&nbsp;<span style="color: #006699;">textSize</span>(20);
&nbsp;&nbsp;<span style="color: #006699;">text</span>(<span style="color: #006699;">str</span>(n), 20, 25);
}&nbsp;
</pre></body></html>
